* {
  margin: 0;
  padding: 0;
}
label {
  padding: 4px;
}
button {
  border-width: 0;
}
#winbut,
#winbut image,
#winbut button,
#winbut button label {
  background-color: #EEE;
  color: #333;
}
#winbut_dark,
#winbut_dark image,
#winbut_dark button,
#winbut_dark button label {
  background-color: #333;
  color: #EEE;
}
#winbut.pinned image {
  background-color: #333;
}
#winbut_dark.pinned image {
  background-color: #EEE;
}
#winbut_dark #titlebuttons button:hover {
  border-width: 4px 0;
  border-color: #EEE;
}
#winbut #titlebuttons button:hover {
  border-width: 4px 0;
  border-color: #333;
}
#winbut_dark #titlebuttonsv button:hover {
  border-width: 0 4px;
  border-color: #EEE;
}
#winbut #titlebuttonsv button:hover {
  border-width: 0 4px;
  border-color: #333;
}
#winbut #titlebuttons button,
#winbut #titlebuttonsv button,
#winbut_dark #titlebuttons button,
#winbut_dark #titlebuttonsv button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: <>px; /* Do not change! Set mini_icon_size in conf.py */
}
/*
    Each "{}" in this file will be replaced with <theme_dir>
*/
#minimize {
  background-image: url("{}/hide-active.xpm");
}
#maximize {
  background-image: url("{}/maximize-active.xpm");
}
#close {
  background-image: url("{}/close-active.xpm");
}
#minimize:active {
  background-image: url("{}/hide-pressed.xpm");
}
#maximize:active {
  background-image: url("{}/maximize-pressed.xpm");
}
#close:active {
  background-image: url("{}/close-pressed.xpm");
}
#minimize:disabled {
  background-image: url("{}/hide-inactive.xpm");
}
#maximize:disabled {
  background-image: url("{}/maximize-inactive.xpm");
}
#close:disabled {
  background-image: url("{}/close-inactive.xpm");
}
